@charset "UTF-8";
/* CSS Document */
body {
	margin:0;
/*	height:600vh;*/
}

video{
	position: absolute;
    top: -10px;
    width: 100vw;
    z-index: -100;
}

#homepage img {
	width:100vw;
	height:auto;
}

#aboutpage img {
	width:100vw;
	height:auto;
}

/*

#homepage{
	width:100vw;
	height:600vh;
	background-image:url(../img/ImbueHome.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center top;
}

#aboutpage{
	width:100vw;
	height:600vh;
	background-image:url(../img/ImbueAbout.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center top;
}
*/
